/NetbeansProject/BaseData/nbproject/private/
/NetbeansProject/BaseData/build/
/NetbeansProject/JReserve/nbproject/private/
/NetbeansProject/JReserve/BaseData/nbproject/private/
/NetbeansProject/JReserve/build/
/NetbeansProject/JReserve/Persistence/build/
/NetbeansProject/JReserve/BaseData/build/
/NetbeansProject/JReserve/DatabaseExplorer/build/
/NetbeansProject/JReserve/Persistence/nbproject/private/
/NetbeansProject/JReserve/DatabaseExplorer/nbproject/private/
/NetbeansProject/JReserve/DbExplorer/nbproject/private/
/NetbeansProject/JReserve/DatabaseAPI/build/
/NetbeansProject/JReserve/DerbyDatabase/nbproject/private/
/NetbeansProject/JReserve/OracleDatabase/nbproject/private/
/NetbeansProject/JReserve/DbExplorer/build/
/NetbeansProject/JReserve/BrandingModule/build/
/NetbeansProject/JReserve/JSON Util/build/
/NetbeansProject/JReserve/DerbyDatabase/build/
/NetbeansProject/JReserve/OracleDatabase/build/
/NetbeansProject/JReserve/BrandingModule/nbproject/private/
/NetbeansProject/JReserve/DatabaseAPI/nbproject/private
/NetbeansProject/JReserve/JSON Util/nbproject/private
/NetbeansProject/JReserve/Database API/build/
/NetbeansProject/JReserve/Resources/build/
/NetbeansProject/JReserve/Database API/nbproject/private/
/NetbeansProject/JReserve/Logging/build/
/NetbeansProject/JReserve/Persistence API/build/
/NetbeansProject/JReserve/Project API/build/
/NetbeansProject/JReserve/Persistence API/nbproject/private/
/NetbeansProject/JReserve/Project API/nbproject/private/